@font-face {
    src: url(./asset/font/Matrix-Regular.ttf);
    font-weight: normal;
    font-family: matrix-ii;
}

body {
    height: 5000px;
    font-family: matrix-ii;
}


/* 
.triangle {
    position: relative;
    width:0;
    border-bottom:solid 50px black;
    border-right:solid 30px transparent;
    border-left:solid 30px transparent;
}
.triangle .outline {
    overflow: hidden;
    position: absolute;
    top:9px;
    left:-21px;
    width:0;
    border-bottom:solid 36px white;
    border-right:solid 21px transparent;
    border-left:solid 21px transparent;
    z-index: 3;
} */

/* Scroll bar  */

::-webkit-scrollbar
{
    width: 13px;
    background: white;
    border-left: solid #000 2px;
    border-right: solid #000 2px;
}
::-webkit-scrollbar-thumb
{
    -webkit-border-radius: 0;
    background: white;
    border: solid #000 2px;
}
::-webkit-scrollbar-thumb:
{
    border: solid #000 1px;
    background: #fff;
}

/* width */
/* ::-webkit-scrollbar {
    width: 15px;
} */

/* Track */
/* 
::-webkit-scrollbar-thumb: {
    border: solid #000 1px;
    background: #fff;
} */

/* Handle */
/* ::-webkit-scrollbar-thumb {
    background: rgb(89, 172, 255); 
    outline: 2px black solid;
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
    background: #555; 
} */

h1 {
    font-family: "matrix-ii", serif;
    font-size: 5em;
}

#fixed-position {
    height: 100%;
}

.header {
    position: fixed;
    text-align: center;
    left: 0;
    right: 0;
    margin: auto;
    padding: 10px
}

.size {
    height: 100%;
    width: 100%;
}

/* .date {
    transform: rotate(-90deg);
    position: fixed;
    z-index: 2000;
} */
#year{
    position: fixed;
    bottom: 0;
    right: 0;
    padding-right: 50px;
    z-index: 8100;
}
/* id-elements */

#coral1 {
    position: fixed;
    /* padding-top: 335px;
    padding-left: 5px; */
    z-index: 300;
}

#coralimage3 {
    position: fixed;
    /* padding-top: 350px;
    padding-left: 800px; */
    z-index: -1000;
}

#coral2 {
    position: fixed;
    padding-top: 400px;
    padding-left: 310px;
    z-index: 200;
}

#coral3 {
    position: fixed;
    padding-top: 350px;
    padding-left: 500px;
    z-index: 300;
}

#coral4 {
    position: fixed;
    padding-top: 410px;
    padding-left: 1000px;
    z-index: 400;
}

#coral5 {
    position: fixed;
    padding-top: 390px;
    padding-left: 1200px;
    z-index: 500;
}

#coral-wrap {
    position: fixed;
    padding-top: 300px;
    padding-left: 300px;
    z-index: 200;
}

#coral-leaf {
    position: fixed;
    padding-top: 450px;
    padding-left: 500px;
    z-index: 700;
}

#coral-leaf2 {
    position: fixed;
    padding-top: 450px;
    padding-left: 800px;
    z-index: 800;
}

#coral-leaf3 {
    position: fixed;
    padding-top: 300px;
    padding-left: 150px;
    z-index: 200;
}

#coral-leaf4 {
    position: fixed;
    padding-top: 250px;
    padding-left: 900px;
    z-index: 1000;
}

#coral-leaf5 {
    position: fixed;
    padding-top: 500px;
    padding-right: 70%;
    z-index: 1100;
    transform: scaleX(-1);
}

#rock {
    position: fixed;
    padding-top: 600px;
    padding-left: 300px;
    z-index: 3000;
}

#rock2 {
    position: fixed;
    padding-top: 600px;
    padding-left: 600px;
    z-index: 2300;
}

#bubble {
    position: fixed;
    padding-top: 10%;
    padding-left: 300px;
    z-index: 1400;
}

#bubbles2 {
    position: fixed;
    padding-top: 10%;
    padding-left: 800px;
    z-index: 1500;
}

#fish {
    position: fixed;
    padding-top: 500px;
    padding-left: 400px;
    z-index: 3500;
}

#fish2 {
    position: fixed;
    padding-top: 500px;
    padding-left: 1100px;
    z-index: 1700;
}

#star {
    position: fixed;
    padding-top: 550px;
    padding-left: 250px;
    z-index: 1800;
}

#star2 {
    position: fixed;
    padding-top: 550px;
    padding-left: 650px;
    z-index: 1900;
}

#coralimage1 {
    position: fixed;
    padding-top: 350px;
    padding-left: 120px;
    z-index: 400;
}

#coralimage2 {
    position: fixed;
    padding-top: 135px;
    padding-left: 205px;
    z-index: 100;
}

#coralimage5 {
    position: fixed;
    padding-top: 110px;
    padding-left: 950px;
    z-index: 0;
}

#coralimage6 {
    position: fixed;
    padding-top: 350px;
    padding-left: 1000px;
    z-index: 150;
}

#jellyfish {
    position: fixed;
    padding-top: 200px;
    padding-left: 100px;
    z-index: 5000;
}

#goldfish {
    position: fixed;
}

#nemo {
    position: fixed;
    padding-top: 600px;
    padding-left: 800px;
    z-index: 6000; 
}

#fishswim {
    position: fixed;
}

#goldfish2 {
    position: fixed;
    padding-left: 700px;
    padding-top: 500px;
    z-index: -2000;
}

#jellyfish2 {
    position: fixed;
    padding-left: 700px;
    padding-top: 275px;
    z-index: 6000;
}

#bubblemove1 {
    position: fixed;
    padding-top: 450px;
    z-index: 5000;
}

#bubblemove2 {
    position: fixed;
    padding-left: 400px;
    padding-top: 500px;
    z-index: 7000;
}

#bubblemove3 {
    position: fixed;
    padding-left: 700px;
}

#bubblemove4 {
    position: fixed;
    padding-left: 1100px;
    padding-top: 600px;
}

#bubblemove5 {
    position: fixed;
    padding-left: 1100px;
    padding-top: 600px;
}

#bubblemove6 {
    position: fixed;
    padding-left: 1100px;
    padding-top: 600px;
}

#bubblemove7 {
    position: fixed;
    padding-left: 1100px;
    padding-top: 600px;
}

#bubblemove8 {
    position: fixed;
    padding-left: 1100px;
    padding-top: 600px;
}

/*  */

#coralfacts {
    position: fixed;
    visibility: hidden; 
    height: 60vh;
    width: 40vw;
    background: white;
    z-index: 8000;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    outline: 2px solid black;
}

.margin {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

#fact {
    font-size: 3em;
}
ul{
    list-style-type: none;
}

#highlight {
    background: yellow;
}