body {
    background-color: #efefef;
    font-family: Arial, Helvetica, sans-serif;
}

a:hover {
    filter: darkgray;
  -webkit-filter: grayscale(100%);
}

.grid-container {
    display: grid;
    grid-template-columns: auto 300px auto 300px auto 300px auto;
    grid-template-rows: 100px 100px 10px auto 10px 100px; 
}

#heading {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

#facebook-container {
    grid-column: 2 / 7;
    grid-row: 2 / 3; 
    max-width: 100%;
    max-height: 100%;
}

#ad-container {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

#history-container {
    grid-column: 4 / 5;
    grid-row: 4 / 5;
    /* max-width: 100%;
    max-height: 100%;
    object-fit: cover; */
}

#profit-container {
    grid-column: 6 / 7;
    grid-row: 4 / 5;
    /* max-width: 100%;
    max-height: 100%;
    object-fit: cover; */
}

#text-container1 {
    grid-column: 2 / 3;
    grid-row: 6 / 7;
}

#text-container2 {
    grid-column: 4 / 5;
    grid-row: 6 / 7;
}

#text-container3 {
    grid-column: 6 / 7;
    grid-row: 6 / 7;
}

#security-container {
    display: grid;
    grid-template-columns: 200px auto 400px auto 200px;
    grid-template-rows: 50px 100px auto 100px 100px;
    z-index: -1000;
}

#security {
    grid-column: 1 / 6;
    grid-row: 1 / 2;
    background-color: azure;
    text-align: center;
}

#security-image {
    grid-column: 2 / 5;
    grid-row: 3 / 4;
    background-color: brown;
}

#security-text {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
    background-color: coral;
}

#cambridge-container {
    display: grid;
    grid-template-columns: 200px auto 50px auto 200px;
    grid-template-rows: 100px auto 50px auto 100px;
}

#cambridge {
    grid-column: 1 / 6;
    grid-row: 1 / 2;
    background-color: chartreuse;
    text-align: center;
}

#cambridge-image1 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: cadetblue;
}

#cambridge-image2 {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    background-color: cornflowerblue;
}

#cambridge-text1 {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    background-color: crimson;
}

#cambridge-text2 {
    grid-column: 4 / 5;
    grid-row: 4 / 5;
    background-color: darkgoldenrod;
}

#lock {
    opacity: 0;
}

#lock2 {
    background-color: #efefef;
}

#password-container {
    position: relative;
}

#password {
    position: absolute;
    display: visible;
    height: 100%;
    top: 40%;
    left: 40%;
    /* margin: 0 auto; */
}

.center {
    text-align: center;
    line-height: 0.5px;
}

#eye {
    position: absolute;
    width: 20%;
    height: 20%;
    margin: auto;
    border: 1px solid green;
    /* grid-column: 4 / 5;
    grid-row: 1 / 2; */
}

#eye0 {
    position: absolute;
}

#eye1, #eye2, #eye3, #eye4, #eye5 {
    visibility: hidden;
    z-index: 1000;
    position: absolute;
}

@media (min-width: 1000px) and (max-width: 1200px) {
    #eye0 {
        visibility: hidden;
    }
    #eye1 {
        visibility:  visible;
    }
}

@media (min-width: 700px) and (max-width: 999px) {
    #eye0 {
        visibility: hidden;
    }

    #eye2 {
        visibility: visible;
    }
}

@media (min-width: 500px) and (max-width: 699px) {
    #eye0 {
        visibility: hidden;
    }

    #eye3 {
        visibility: visible;
    }
}

@media (min-width: 300px) and (max-width: 499px) {
    #eye0 {
        visibility: hidden;
    }

    #eye4 {
        visibility: visible;
    }
}

@media (min-width: 100px) and (max-width: 299px) {
    #eye0 {
        visibility: hidden;
    }

    #eye5 {
        visibility: visible;
    }
}